@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

:root{
    
    --dark: #202020;
    --primary: #373737;
    --background: #181818;
    --light: #fff;
    --button-filter: #373737;
    --fade: #757474;
    --score: #226634;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background);
    /* height: 100vh; */
}
/* 
i {
    background-color: rgba(0, 136, 169, 1);

} */

