@import 'index.css';

.logo {
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary)
}

.hamburgur {
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;

    transform-origin: 0 0;

    transition: 0.4s;

}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
    
}

.link {
    color: #fff;
    margin: 0 16px;

    text-decoration: none;

    cursor: pointer;
    font-weight: 600;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.link:hover {
    background-color: var(--primary);
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--dark);
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav-active {
    left: 0;
}

.mobile-link {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: var(--primary);

    color: #fff;
    text-decoration: none;

}

.mobile-link:hover {
    background-color: var(--lighterPrimary);
}

/* apply when width is larger than 768px */
@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
    }

    .mobile-nav {
        display: none;
    }

}