@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppings', sans-serif;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}
.header {
    display: flex;
}

.trending-movie-continer {
    display: flex;
}

.trending-tv-continer {
    display: flex;
}

img {
    height: 500px;
    width: 300px;
}
